/* Ce fichier CSS reset est utilisé : https://cdn.githubraw.com/elad2412/the-new-css-reset/main/css/reset.css */

/* On active la grille de 2 colonnes quand le point de rupture est atteint */
@media (min-width: 576px) {
   .website {
    display: grid;
    grid-template-columns: 200px 1fr;
  }
}


.header,
.footer {
  grid-column: 1 / -1;
}

.navigation-list {
  display: grid;
  gap: .5rem;
}

/* Bonus : Toute la hauteur ? */
 .website {min-height: 100vh;}

/* Bonus : Centré ? */
 .website {max-width: 800px; margin: 0 auto;}

/* Base */
body {
  margin: 0;
  font-size: 1rem;
  background-color: #fff;
  color: #212529;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
}

/* Decoration optionnelle (juste pour la demo) */
ul {
  background: #bbb;
  padding: 1rem;
}
li {
  background: #ccc;
}
article {
  background: #888;
  padding: 1rem;
}
[class*="grid"] > * {
  background: #ccc;
  padding: 1rem;
}
header, footer {
  background: #ddd;
  padding: 1rem;
}
main {
  background: #eee;
  padding: 1rem;
}
aside {
  background: #aaa;
  padding: 1rem;
}
a {
  color: #212529;
}
.navigation-link {
  padding: 1rem;
  display: block;
}

.navigation-link:hover,
.navigation-link:focus
{
  background: rgba(0,0,0,.15);
}

/* Vos styles ici */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
  }
  
  .wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1;
    padding: 20px;
    }
 header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap :nowrap;
  padding: 1.5em 3.45em;
 }
 header nav{
  padding: 0em 5em;
 }
header a{
  text-decoration: none;
  color: white;
  margin-left: 30px;
}
header a:hover{
  text-decoration: underline;
}
.headerBlack {
    background-color:black!important ;
    color: white!important ;
    width : 100vw;
    top : 0;
  }
/* Menu burger caché par défaut */
.bouton_menu_header {
  display: none;
}

/* Media query : menu classique masqué, menu burger affiché en mobile */
@media (max-width: 900px) {
  .menu_header {
    display: none;
  }

  .bouton_menu_header {
    display: inline;
  }

  header {
    padding: 0.5em 1em; /* Réduction du padding haut/bas */
  }
}

  .titreHeader{
    text-align: center!important ;
     padding-left: 10em!important ;
     color: white!important;
 }
 p{
    color: black !important;;
 }
